<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Panier</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 *ngIf="tabPanier?.length<=0">Panier vide :)</h2>
  <ion-card *ngFor="let vuePanier of tabPanier">
    <span>{{vuePanier.prix}}€</span>
    <img src="{{vuePanier.picture}}"/>
    <ion-card-content>
      <ion-card-title>{{vuePanier.nom}}</ion-card-title>
      <p>{{vuePanier.desc}}</p>
      <button ion-button color="dark" (click)="SupprimerPanier(vuePanier)">Retirer du panier</button>
    </ion-card-content>
  </ion-card>
</ion-content>
